// Your custom SCSS should be written here...

.navbar {
  .logo {
    min-height: 80px;
  }
}

[data-hull-component="login/button@hull"]  {
    .btn {
      display: block;
      max-width: 50%;
      margin: 0 auto;
    }
}

.leaflet-container {
  color: black;
}

.searchResults {
	.searchResult {
		border-bottom: solid 1px #4B4B4B;
		padding: 10px 0;
	}
	h2 {
		font-size: 12px;	
	}
	h3 {
		font-size: 10px;
		font-weight: normal;
		color: #909999;
	}
	.wide {
		width: 80%;
	}
	.userPhoto {
		float: left;
		width: 50px;
		height: 50px;
	}
	.withPhoto {
		min-height: 70px;
		.order {
			float: left;
			width: 50px;
			font-size: 30px;
			color: #FFF;
			font-weight: bold;
			text-align: center;
			line-height: 47px;
		}
		h2, h3 {
			margin-left: 110px;
		}
		.voting {
			float: right;
			padding: 17px 0 0 0;
		}
	}
}
.loadingSentance {
	color: #909999;
	text-align: center;
}
h2.title {
	font-size: 25px;
	padding: 10px 0;
	margin: 20px 0 10px 0;
	text-align: center;
}
.usersAtParty {
	list-style-type: none;
	li {
		border-bottom: solid 1px #4B4B4B;
		padding: 10px 0;
		font-size: 12px;
		width: 200px;
		float: left;
		img {
			width: 30px;
			height: 30px;
			vertical-align: middle;
			margin-right: 10px;
		}
	}
}