<div class="row navbar pretty" id="nav1">
  <!-- Toggle for mobile navigation, targeting the <ul> -->
  <a class="toggle" gumby-trigger="#nav1 > ul" href="#"><i class="icon-menu"></i></a>
  <div class="three columns">
    <img src="/gumby/img/spotiparty-logo-webapp.png" gumby-retina />
  </div>
  <ul class="nine columns">
    <li><a href="/parties">Parties</a></li>
    <li><a href="/search#nextUp">What's Next</a></li>
    <li><a href="/search#search"><i class="icon-search"></i> Search</a></li>
    <li><a href="#" onclick="Hull.logout(function(){location.replace('/')});">Logout</a></li>
  </ul>
</div>