<nav class="navbar row pretty">
  <h1 class="four columns logo">
    <a href="/">
      <img src="/gumby/img/spotiparty_128.png" gumby-retina />
    </a>
  </h1>
  <ul class="six columns">
    <li>
      <a href="/parties/">
        <h2>Parties</h2>
      </a>
      <div class="dropdown">
        <ul>
          <li>Party Numero Uno <span>0.2mi</span></li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="two columns">
    <a href="/search">
      <i class="icon-search"></i>
    </a>
  </div>
</nav>