<%- include ../nav.ejs %>
<div class="row">
  <div class="six columns" data-aura-component="list-songs-in-party"></div>
</div>
<div class="row">
  <div class="twelve columns" data-aura-component="find-a-song"></div>
</div>
<section class="row">
  <div class="twelve columns" data-aura-component="list-songs"></div>
</section>
<div class="row">
  <div class="six columns" data-aura-component="users-in-party"></div>
</div>