<%- include ../nav.ejs %>

<div class="row">
  <div class="six columns" data-aura-component="list-parties"></div>
</div>
<div class="row">
  <div class="twelve columns" data-aura-component="parties-map"></div>
</div>