<div class="row">
  <div class="three columns center push_four  logo">
    <img src="/gumby/img/spotiparty_128.png">
  </div>
</div>
<!-- <div data-hull-component="DataProvidor"></div> -->
<div data-hull-component="login/button@hull" data-hull-provider="facebook,twitter,github"></div>

<div data-hull-component="active-users"></div>

<script type="text/x-template" data-hull-template="login/button@hull">
<p>Super test</p>
  {{#if matchingProviders}}
    <button data-hull-action="logout" class="btn btn-small btn-link">
      Sign Out
    </button>
  {{else}}
    {{#if loggedOut}}
      {{#loggedOut}}
        <a class="medium primary button">
        <button data-hull-action="login" data-hull-provider="{{.}}" class="btn btn-{{.}}">
          <i class="icon-{{.}}"></i> Sign In with {{classify .}}
        </button>
        </a>
      {{/loggedOut}}
    {{/if}}
    {{^authServices}}
      {{#if debug}}
        <div class="alert">
          <h4>Warning!</h4>
          No Auth Services configured, please add at least one in the admin.
        </div>
      {{/if}}
    {{/authServices}}
  {{/if}}
</script>