<br/><br/>
<div class="text-center">
  <img src="/gumby/img/spotiparty-logo-medium.png">
</div><br/>
<!-- <div data-hull-component="DataProvidor"></div> -->
<div data-hull-component="login/button@hull" data-hull-provider="facebook,twitter,github"></div>

<!-- <div data-hull-component="active-users"></div> -->
<script type="text/x-template" data-hull-template="login/button@hull">
<div class="loginArea">
  {{#if matchingProviders}}
    <!-- <button data-hull-action="logout" class="btn btn-small btn-link btn-logout">
      Sign Out
    </button> -->
  {{else}}
    {{#if loggedOut}}
      {{#loggedOut}}
        <button data-hull-action="login" data-hull-provider="{{.}}" class="btn btn-{{.}}">
          <i class="icon-{{.}}"></i> Sign In with {{classify .}}
        </button>
      {{/loggedOut}}
    {{/if}}
    {{^authServices}}
      {{#if debug}}
        <div class="alert">
          <h4>Warning!</h4>
          No Auth Services configured, please add at least one in the admin.
        </div>
      {{/if}}
    {{/authServices}}
  {{/if}}
</div>
</script>
