<section class="row">
  <div class="field append text-center">
    <input id="search-input" class="input wide" type="text">
    <span class="adjoined">
      <a data-action="search" href="#">
        <i class="icon-search"></i>
      </a>
    </span>
  </div>
</section>
